@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 3px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d1c1c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bc2222;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #525151;
}
